{{ define "head" }}

	{{ partial "head.html" . }}
	<link rel="stylesheet" href="/css/exobrain.css"/>

{{ end }}

{{ define "header" }}
	{{ partial "exobrain/header.html" . }}
{{ end }}

{{ define "main" }}

	{{ .Content }}

	{{/*  <section>

		<h2>Latest items</h2>

		{{ range first 3 .Pages.ByLastmod }}
			<article>
				<h1> [ {{ upper .Section }} ] {{ .Title }} </h1>
				<i class="dateLabel"> Updated {{ .Lastmod }} </i>
				<p> {{ .Summary }} <a href='{{ .RelPermalink }}'> More ... </a> </p>
			</article>
		{{ end }}
	</section>  */}}

	<h2>Explore by Section</h2>
	{{ partial "exobrain/pageList.html" . }}


{{ end }}