{{ define "head" }}

	{{ partial "head.html" . }}
	<link rel="stylesheet" href="/css/exobrain.css"/>

{{ end }}

{{ define "body" }}

	<header>
		{{ partial "exobrain/header.html" . }}
	</header>
	<main>

		{{ .Content }}

		<p>
			An <b>exobrain</b>, or "second brain", or "brain dump" is something like
			a public wiki where you can keep your bookmarks, notes, ideas and thoughts.
			<br/>
			Other people can search in your exobrain without having to physically
			interact with you. The point is not to avoid physical interaction
			altogether, but to scale collaboration and knowledge exchange with other
			people.<br/>
			<br/>
			It also allows for quicker iteration in writing blog posts or developing
			thoughts - I can just quickly publish it here, share it gradually, and
			receive immediate feedback.<br/>
			<br>
			You can read more about this system in the
			<a href="{{ relref . "/exobrain/exobrain/" }}">dedicated section</a>.
		</p>


		<h2>Explore by Section</h2>
		{{ partial "exobrain/pageList.html" . }}

		<h2>Latest items</h2>

	</main>

{{ end }}