{{ define "head" }}

	{{ partial "head.html" . }}
	<link rel="stylesheet" href="/css/exobrain.css" />

{{ end }}

{{ define "body" }}

	<header>
		{{ partial "exobrain/header.html" . }}
	</header>

	<main>

		{{/*
		* Get link title from page attributes.
		* If not possible, generate one from content file name.
		*/}}
		<h1>{{ default ( replace .File.BaseFileName "-" " " ) .Title | title }}</h1>
		<nav class="tableOfContents">
			<h1>Index</h1>
			{{ .TableOfContents }}
		</nav>

		{{ .Content }}

	</main>

{{ end }}
