<title>

	{{/*
	   * Get page title from page attributes.
	   * If not possible, generate one from content file name.
	   */}}

	{{ if not .IsHome }}
		{{ $pageTitle := default ( replace .File.BaseFileName "-" " " ) .Title | title }}
		{{ print $pageTitle " | " }}
	{{ end }}
	{{ .Site.Title }}

</title>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="stylesheet" href="/css/baseof.css"/>

<!-- Mastodon site ownership verification -->
<a hidden=true rel="me" href="https://qub1750ul.me/@personal">Mastodon</a>
<a hidden=true rel="me" href="https://scholar.social/@qub1750ul">Scholar Social</a>
