{{ define "head" }}

	{{ partial "head.html" . }}
	<link rel="stylesheet" href="/css/blogpost.css"/>

{{ end }}

{{ define "header" }}

	<h1>{{ humanize .Section }}</h1>
	<p>{{ ( .Site.GetPage .Section ).Params.Tagline }}</p>
	<nav id="breadcrumbs">{{ partial "breadcrumbs.html" . }}</nav>

	{{ end }}

{{ define "main" }}

	<header>

		<h1> {{ .Title }} </h1>
		<aside class="docinfo">

			<p>
				{{ with .PublishDate }}
				Published on <br/> {{ . }}
				{{ else }}
				Draft
				{{ end }}
			</p>
			<p> Last updated on <br/> {{ .Lastmod }} </p>
			<p> Reading time: <br/> {{ .ReadingTime }} minutes </p>

		</aside>

	</header>

	<nav class="tableOfContents">
		<h1> Table of contents </h1>
		{{- .TableOfContents -}}
	</nav>

	{{ .Content }}

{{ end }}
