{{ define "head" }}

	{{ partial "head.html" . }}
	<link rel="stylesheet" href="/css/blogpost.css"/>

{{ end }}

{{ define "body" }}

	<header>
		{{ partial "blog/header.html" . }}
	</header>

	<main>

		<header>

			<h1> {{ .Title }} </h1>
			<aside class="docinfo">

				<p>
					{{ with .PublishDate }}
					Published on <br/> {{ . }}
					{{ else }}
					Not published
					{{ end }}
				</p>
				<p> Last updated on <br/> {{ .Lastmod }} </p>
				<p> Reading time: <br/> {{ .ReadingTime }} minutes </p>

			</aside>

		</header>

		<nav class="tableOfContents">
			<h1> Table of contents </h1>
			{{- .TableOfContents -}}
		</nav>

		{{ .Content }}
	</main>

{{ end }}
