
body > main > header > .docinfo
{
	display: flex ;
	align-items: baseline ;
	justify-content: center ;
	padding: auto ;
}

body > main > header > .docinfo > p
{
	margin-left : 1em ;
	margin-right: 1em ;
}

body > main
{
	text-align: justify ;
}

code
{
	white-space: pre-wrap;
}

q
{
	quotes: "“" "”" "‘" "’";
}

a
{
	text-decoration: none;
}

a.title
{
	text-decoration: underline;
	font-weight: bold;
}

img
{
	width: 100%;
}
