body main
{
	text-align: justify ;
}

body main > h1
{
	text-align: center ;
}

aside.tableOfContents header
{
	text-align: left ;
}

.journalDivider
{
	display: flex ;
	align-content: center ;
	justify-content: center ;
}
